.col{
  padding-top: 100px;
  padding-left: 900px;

}
.jumborton{
  /* background-image: url("E:\FINALPROJECT-Maneesha-845142\EMART-UI\src\assets\images\s1.jpg"); */
  background-repeat: no-repeat;
 
  position: relative;
 
}