
  /* .back{
    background-image: url("E:\FINALPROJECT-Maneesha-845142\EMART-UI\src\assets\images\m6.png");
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }
   */
   .col{
    padding-top: 100px;
    padding-left: 900px;
  
  }