/* .form-group{
    width:80%;
   padding-left: 400px;
   padding-right: 150px;
  
   color: black;
  }
  .text-center{
    
   color: black;
   
    text-align:left;
  } */
  .col{
    padding-top: 100px;
    padding-left: 700px;
    /* width:500px; */
  }
  