
        <div class="jumborton">
            <div class="col">
            
        <div class=" row justify-content-center" >
           <form  class="w-50" [formGroup]="addcatForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <h1 >AddCategory</h1>
                <div class="card shadow bg-transparent p-4" >
  




<!-- <div class="container-fluid">
    <div class="col">

    <div class="row">
       <div class="col-lg-4">
  
  
    </div>
  
  
    <div class="col-lg-7">
  <div  class="jumbotron jumbotron-fluid " >
 -->
    <!-- <h4>Add Categories </h4>
  <form [formGroup]="addcatForm" (ngSubmit)="onSubmit()">
       -->

    <div class="form-group ">
        <label>CategoryName</label>
        <input type="text" formControlName="CategoryName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.CategoryName.errors }" />
        <div *ngIf="submitted && f.CategoryName.errors" class="invalid-feedback">
            <div *ngIf="f.CategoryName.errors.required"> Name is required</div>
            <div *ngIf="f.CategoryName.errors.pattern">Enter only Alphabets</div>
        </div>
    </div>
  
  
  <div class="form-group ">
      <label>BriefDetails</label>
      <input type="text" formControlName="BriefDetails" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.BriefDetails.errors }" />
      <div *ngIf="submitted && f.BriefDetails.errors" class="invalid-feedback">
          <div *ngIf="f.BriefDetails.errors.required">BriefDetails is required</div>
      </div>
  </div>



  <div class="text-center">

      <button  type="submit">Add</button>
      <button  type="reset" (click)="onReset()" >Reset</button>
      
  </div>

</div>
</div>
  
  </form>
</div>
    
</div>
</div>
