   <div class="back">
   <div class="row">
   <div class="col-lg-12">
    <div class="topnav">
      
        <a class="active" [routerLink]="['/buyer']"><i class="fa fa-fw fa-home"></i>Home</a>
        <a [routerLink]="['./viewbuyerprofile']"><i class="fa fa-fw fa-user"></i>ViewProfile</a>
        <a [routerLink]="['./viewcart']"><i class="fa fa-eye" aria-hidden="true"></i>ViewCart</a>
        <a [routerLink]="['./search']"><i class="fa fa-search" aria-hidden="true"></i>Search</a>
        <a [routerLink]="['./purchase-history']"><i class="fa fa-history" aria-hidden="true"></i>PurchaseHistory</a>
        <a (click)="Logout()" id="l"><i class="fa fa-fw fa-user"></i>logout</a>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
</div>