
<!-- <div class="img">
  <div class="row">
  <div class="col-lg-12">
   <div class="topnav">
    <a [routerLink]="['/admin']"  class="active"><i class="fa fa-fw fa-home"></i>Home</a>
    <!-- <a href="#"><i class="fa fa-fw fa-user"></i>About Us</a>
    <a href="#"><i class="fa fa-fw fa-phone"></i>Contact</a> -->
    <!--<a [routerLink]="['./dailyreports']"><i class="fa fa-list-alt" aria-hidden="true"></i>DailyReports</a>
    <a [routerLink]="['./addcategory']"><i class="fa fa-plus-circle" aria-hidden="true"></i>AddCategory</a><br>
    <a [routerLink]="['./viewcategories']"><i class="fa fa-plus-circle" aria-hidden="true"></i>ViewCategories</a><br>
    <a [routerLink]="['./viewsubcategories']"><i class="fa fa-plus-circle" aria-hidden="true"></i>ViewSubCategories</a><br>
    <a (click)="Logout()" id="l"><i class="fa fa-fw fa-user"></i>logout</a>
        
    
           
    <a [routerLink]="['./addsubcategory']"><i class="fa fa-plus-circle" aria-hidden="true"></i>AddSubCategory</a> -->
    <!-- <div class="dropdown">
      <button class="dropbtn">AddItems 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">AddCategory</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <div class="text-center"> 
        <a [routerLink]="['/registerbuyer']">Register Buyer</a><br>
           
        <a [routerLink]="['/registerseller']">Register Seller</a>
  </div> -->

      
    <div class="img">
      <div class="row">
      <div class="col-lg-12">
       <div class="topnav">
         
           <a class="active" [routerLink]="['/admin']"><i class="fa fa-fw fa-home"></i>Home</a>
           <a [routerLink]="['./addcategory']"><i class="fa fa-plus-circle" aria-hidden="true"></i>AddCategory</a>
           <a [routerLink]="['./addsubcategory']"><i class="fa fa-plus-circle" aria-hidden="true"></i>AddSubCategory</a>           
           <a [routerLink]="['./viewcategories']"><i class="fa fa-eye"></i>ViewCategories</a>
           <a [routerLink]="['./viewsubcategories']"><i class="fa fa-eye"></i>ViewSubCategories</a>
           <a (click)="Logout()" id="l"><i class="fa fa-fw fa-user"></i>logout</a>
     
  </div>

</div>
</div>

<router-outlet></router-outlet>
</div>         
    